*.suo
*.csproj.user
.runsettings

bin/
obj/
.vs/
packages/

out/
node_modules/
.vscodeignore
.vscode-test/
.vscode/settings.json
.vscode/project.json
*.log
*.esproj.user
VSIX/
VSIX-bin/
UiTools.WinForms.Designer.VsCodeExtension/LICENSE.txt
